.navbar{
  border-bottom-color: #15A2FF;
  margin: 0px;
}

.explainbox{
  padding: 10px;
  color: #15A2FF;
  border-style: dashed;
  border-color: #15A2FF;

}
.bold{
  font-weight: bold;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
    height: 500px;
}

.navileiste{
  border-right-width: thin;
  border-right-style: dashed;
  border-right-color: #15A2FF;
}

.learncontent{
  margin-top: 30px;
  margin-left: 30px;
}

.vertical-menu a {
    background-color: white; /* Grey background color */
    color: blue; /* Black text color */
    margin-left: 50px;
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: white; /* Add a green color to the "active/current" link */
    color: blue;
    text-decoration-style: double;
    font-weight: bold;
}
.lexikon{
  padding-top: 0px;
}
